{% extends 'base.html' %}

{% block title %}Админка | АвтоТим{% endblock %}

{% block content %}
<section class="page-section simple-page admin-page">
    <div class="container auth-card">
        <h1>Вход в админку</h1>
        <form method="post" class="auth-form">
            <div class="field-group">
                <label>Логин</label>
                <input type="text" name="username" autocomplete="username" required>
            </div>
            <div class="field-group">
                <label>Пароль</label>
                <input type="password" name="password" autocomplete="current-password" required>
            </div>
            <button type="submit" class="primary-btn full-width">Войти</button>
        </form>
    </div>
</section>
{% endblock %}
